header{
  font-family: ;
  top:0px;
  font-weight: 800;
  background: black;
  color: white;
  border-bottom:solid;
  float:right;
  width:100%;
  position: fixed;
}
header->h3{
  color:white;
  width:100%;
  float:left!important;
}
header h3 a{
  color:#ccc;
}
.menu{

  float:right;

}
.menu p{
  margin-right:0px!important;
}
.menu-list{
float:left;
margin-right:20px;
}
.top-title{
    z-index=1;
    text-align: center;
    margin-top:0em;
    border-bottom: solid;

}
.second-page{
  text-align: center;
}
.boxes{
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  height:400px;
  color:rgba(100,100,100,1);
}
.box1{

 /* background-repeat: no-repeat; */


  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  float:left;
  width:25%;
  box-sizing: inherit;
  height: 400px;
}
.box2{
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  float:left;
  box-sizing: inherit;
  width:25%;
  height: 400px;
}
.box3{
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  float:left;
  width:25%;
  height: 400px;
  box-sizing: inherit;
}
.box4{
  margin-left: 10px;
  margin-right: 10px;
  margin-top:50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  float:left;
  height: 100px;
  width:25%;
  box-sizing: inherit;
}
.box5{
  margin-left: 10px;
  margin-right: 10px;
  margin-top:50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  height: 100px;
  float:left;
  box-sizing: inherit;
  width:25%;
}
.box6{
  margin-left: 10px;
  margin-right: 10px;
  margin-top:50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1em;
  border: solid;
  height: 100px;
  float:left;
  width:25%;
  box-sizing: inherit;

}
.scrolling-image{
  margin-top: 400px;
  text-align: center;
  border-top:solid;
  border-bottom:solid;
}
.third-page{
  margin-top:100px;
  text-align: center;
  border-top:solid;
  border-bottom:solid;

}
.foot{
  margin-left: 90px;
  margin-right:90px;
}
.first-foot{
  margin-left: 90px;
  margin-right:90px;
  float:left;
  display: block;
  width:25%;

}
.second-foot{
  margin-left: 90px;
  margin-right:90px;
  width:25%;
  display: block;
  float:left;
}
.third-foot{
  margin-left: 90px;
  margin-right:90px;
  padding: 10px 10px;
  width:25%;
  display: block;
  float:left;
}
.footer{
  border-top: 1px solid;
  vertical-align: baseline;
  text-align: center;
  display: block;
  float:none;
}
